name: 'Terraform Destroy'

on:
  workflow_dispatch:
  
env:
  TF_CLOUD_ORGANIZATION: "lorenzdoe"
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  TF_WORKSPACE: "terraform-workshop"
  CONFIG_DIRECTORY: "./part3/"

jobs:
  terraform:
    name: "Terraform Destroy"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ env.TF_API_TOKEN }}
        # This step sets up the Terraform CLI with the Terraform Cloud API token.

      - name: Terraform init
        run: terraform init
      
      - name: plan destroy
        run: terraform plan -destroy -out=destroy.tfplan
        # This step runs terraform destroy -auto-approve to destroy the infrastructure.

      - name: Terraform Apply
        run: terraform apply -auto-approve destroy.tfplan
        # This step runs terraform destroy -auto-approve to destroy the infrastructure.